
@{
    ViewData["Title"] = "Index";
}

<h2>Post Message</h2>

<form method="POST">
    <label for="message">Your message</label>
    <input type="text" id="message" name="message" placeholder="Your message goes here" />
    <input type="submit" />
</form>

